<div id="contact_wrap">
	<div id="contact">Contact Us</div>
	<form method="POST" action="/confirmation" id="contact_form">

		<label for="username" class="contact_label contact">Name</label>
		<input type="text" name="username" placeholder="John" class="contact"/>

		<label for="email" class="contact_label contact">E-Mail</label>
		<input type="text" name="email" placeholder="JohnDoe@gmail.com" class="contact"/>

		<br/>

		<textarea type="text" name="message" id="contact_text"></textarea>
		<br/>

		<input type="submit" value="Send E-Mail" class="btn btn-primary" id="sub_btn"/>

	</form>

	<div id="contact_filler">
		<div class="contact_detail">Contact Details</div>
		<div class="contact_detail_text">Questions, comment or concern? Send us an E-Mail to get in touch with someone at Shady Grove Vineyards.</div>
		<div class="contact_detail">Headquarters</div>
		<div class="contact_detail_text">Shady Grove Winery <br/>1 Shady Grove Road<br/>Shady Grove, California 94558</div>
	</div>

</div>