<form method="POST" action="/confirmation" id="contact_form">

	<label for="username" class="contact_label contact">Name</label>
	<input type="text" name="username" placeholder="John" class="contact"/>

	<label for="email" class="contact_label contact">E-Mail</label>
	<input type="text" name="email" placeholder="JohnDoe@gmail.com" class="contact"/>

	<br/>

	<textarea type="text" name="message" id="contact_text"></textarea>
	<br/>

	<input type="submit" id="sub_btn"/>

</form>