  <!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/carousel.css">
  </head>
  <body>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="./images/slide1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Shady Grove Wine Tastings!</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-default" href="contact">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./images/slide2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Shady Grove Wine Tastings!</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-default" href="contact">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="./images/slide3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Shady Grove Wine Tastings!</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-default" href="contact">Sign up today</a>
            </div>
          </div>
        </div>
         <div class="item">
          <img src="./images/slide4.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Shady Grove Wine Tastings!</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-default" href="contact">Sign up today</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

<!-- Carousel JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
  <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
  </html>