<div id="content_wrapper">

<div id="home_left">
<img src="#" alt="Fake Image">
<br />
<i>Shary Grove Named Winery of the Year in the International Grand Coures De'Ourves in Paris.</i>
</div>

<div id="home_right">
<h3>Welcome to Shady Grove Farms</h3>
Founded in 1920, Shady Grove Vineyard is nestled in the beautiful New Jersey upland valleys. Located in the heart of the scenic Musconetcong River Valley and centered in the Warren Hills viticulture region. The hillside estate is primarily focused on Pinot Noir, Dijon Clone Chardonnay, and Riesling, with minor planting of Gewurztraminer, Cabernet Franc, Barbera, Chambourcin, Vidal Blanc, and Cayuga. The sites diversity of soils and slopes translates directly into the layers of complex flavors in our fruit. We craft our wines from the ground up; they are truly a unique expression of the land and the people who care for it. 
<br /><br />
We believe in the value of vineyard ownership as a means of producing wines of exceptional quality, distinctive character, and consistency year after year. The ability to make autonomous decisions about the vineyard provides the winemaking team with a great amount of control and flexibility while ensuring the high quality care of the vines. 
<br /><br />
Our vineyard philosophy is one of simple, sustainable agriculture. The vineyards are carefully managed to preserve the good earth that nourishes them. The vineyard and gardens have been sustainably farmed since 2000 when they came under new ownership and direction. The goal of sustainability is to avoid depleting the long-term health of the land and environment for short-term gain. We believe this is the only environmentally responsible choice. It requires ingenuity, dedication and the curiosity to find alternate solutions to the ongoing issues of farming a challenged and diverse wine estate like Alba Vineyard. We have learned that is it indeed possible, as well as economically feasible. Simply put, sustainable wine growing is a quality conscious, socially responsible, and environmentally sound approach to farming. In practice, sustainable wine growing focuses on encouraging natural processes that promote soil health, such as erosion control, native cover crops, composting and intense canopy management. In addition, it promotes positive plant-soil interactions and emphasizes a concerted reduction in the use of chemicals and pesticides.
<br /><br />
Our labor-intensive system of canopy management includes leaf, shoot and cluster removal as well as shoot positioning. The main reason for canopy management is to regulate fruit exposure to obtain optimal flavors and color and, therefore, better wine. Smart canopy management also helps us limit the use of fungicides through better light penetration and air movement in the canopy. 

</div>

</div>