<!doctype html>
<html>
<head>
	<title>Wine</title>
</head>
<body>
	<h1>Vineyard</h1>
	<nav>
		<ul>
			<li>home</li>
			<li>about</li>
			<li>contact</li>
		</ul>
	</nav>
	<%=yield%>
	<h2>Footer</h2>
</body>
</html>